<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="theme-color" content="#1E1E1E">
<meta name="application-name" content="ThreadPuller - View 4chan thread images and videos">
<meta name="msapplication-TileColor" content="#1E1E1E">
<!--<meta name="referrer" content="never">-->
<% if(locals.meta) { %>
    <meta property="og:title" content="<%- meta.title -%>" />
    <meta property="og:description" content="<%- meta.description -%>" />
    <meta name="description" content="<%- meta.description -%>" />
    <meta property="og:image" content="<%= meta.thumb || ResourceWatcher.getFileUri('static/pepe.png') -%>" />
<% } %>
<% if(ga.verification) { %>
    <meta name="google-site-verification" content="<%- ga.verification -%>" />
<% } %>
<title><%= title; %></title>
<link rel="shortcut icon" href="<%= ResourceWatcher.getFileUri('static/../favicon.ico') -%>" type="image/x-icon" />
<%- include ./styles.ejs -%>
<% if(locals.sentryDSN) { -%>
    <%- include ./sentry.ejs -%>
<% } -%>
<% if(locals.showAds) { -%>
    <%- include ./adsense.ejs -%>
<% } -%>
