<!doctype html>
<%
if (!locals.page) {
    locals.settings = false;
    locals.title = 'ThreadPuller - 404';
    locals.assets = ResourceWatcher.getEntry('App');
}
locals.assets = ResourceWatcher.appendEntry(locals.assets, 'Presence');
-%>
<html lang="en">
    <head>
        <%- include _/head.ejs -%>
        <%- include _/analytics.ejs -%>
        <script>window.__settingsListeners = []</script>
    </head>
    <body>
        <div id="wrap">
            <% if(!locals.page) { -%>
                <%- include 404.ejs -%>
            <% } else { -%>
                <%- include _/scripts.ejs -%>
                <%- include(locals.page, locals) -%>

                <% if(settings) { %>
                    <%- include _/settings.ejs -%>
                <% } -%>
            <% } %>
        </div>
        <%- include _/footer.ejs -%>
        <%- include _/presence.ejs -%>
    </body>
</html>
