<h1>
    <a href="/<%= board %>/">Back</a>
    | <a href="https://boards.4chan.org/<%= board -%>/catalog#s=<%= query -%>" target="_blank" rel="noopener noreferrer">Go to board</a>
</h1>
<h1>Can't find any `<%= query -%>` posts in /<%= board -%>/</h1>
