<h1 class="no-select"><a href="/">Back</a> | <a href="https://boards.4chan.org/<%= board -%>/" target="_blank" rel="noopener noreferrer">Go to board</a></h1>
<h1 class="no-select">Board: /<%= board -%>/</h1>
<h2 class="no-select"><%- description -%></h2>
<% let adCounter = 0; %>
<% threads.forEach((thread) => { %>
    <%- include('./thread.ejs', { post: thread }) -%>
    <% if(Math.random() <= 0.045)  { %>
        <article class="board ad" id="adsense-ad-<%= adCounter++ -%>">
            <header>
                <h1 class="title">Page AD</h1>
            </header>
            <section class="content">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-el+48+1y-qp+119"
                     data-ad-client="ca-pub-1888028835772073"
                     data-ad-slot="1963956896"></ins>
            </section>
        </article>
    <% } %>
<% }) -%>
<script>for (let i = 0; i < <%= adCounter - 1 -%>; i++) {
        (adsbygoogle = window.adsbygoogle || []).push({});
    }</script>
<script>
    (function () {
        Board.init();
    })();
</script>
<script>
    (function () {
        new Download('article.board');
    })();
</script>
