<article class="board" id="post-<%= post.id -%>" data-board="<%= post.board -%>" data-thread="<%= post.thread -%>">
    <header <%= !post.body.title ? 'data-missing-title="1"' : '' -%>>
        <h1 class="title"><a href="<%= `/${board}/thread/${post.thread}` %>"><%- post.body.title || '<i>No title</i>' -%></a></h1>
    </header>
    <section class="content <%= !post.body.content ? 'no-content' : '' -%>">
        <% if(post.file) { -%>
            <section class="post-image-container" data-is-video="<%= Number(post.file.meta.isVideo) -%>">
                <img data-src-full="<%= post.file.meta.fullSrc -%>" data-src-thumb="<%= post.file.meta.thumbSrc -%>" src="<%= post.file.meta.thumbSrc -%>" alt="<%= post.file.name -%>">
            </section>
        <% } -%>
        <section class="description"><%- post.body.content -%></section>
    </section>
    <footer class="meta"><%= post.meta.images -%> images<!-- | <a href="https://boards.4chan.org/<%= post.board -%>/thread/<%= post.thread -%>/" target="_blank" rel="noopener noreferrer">Direct link</a>--></footer>
</article>
